*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
body{
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  background-image: url("./assets/Palmera.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}




.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content{
  position: absolute;
}
.animation-wave{
  position: absolute;
  font-size: 120px;
  transform: translate(-50%,-50%);
  letter-spacing: 5px;
}

.content h1:nth-child(1){
  color: transparent;
  -webkit-text-stroke: 2px #01abfa;
}

.content h1:nth-child(2){
  color: #03a9f4;
  animation: animate 2s ease-in-out infinite;
}

.login{
  height: 300px;
  width: 230px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  z-index: 100;
  border-radius: 10px;
}
.login::before {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  backdrop-filter: blur(3px);
  inset: 0; 
  z-index: -1;
}


.login h1{
  margin-top: 8px;
  font-size: 20px;
  letter-spacing: 4px;
  color: black;
}

.login form{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
.label-animation{
  margin-top: 40px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.label-animation label{
  backdrop-filter: blur(1px);
  z-index: 50;
  color: gray;
  position: absolute;
  left: 15px;
  bottom: 32px;
  transition: color .3s ease;
}
input{
  color: gray;
  border: 2px solid gray;
  border-radius: 10px;
  height: 40px;
  outline: none;
  padding-left: 4px;
  transition: all .3s ease;
}

input:focus{
  color: #FF7F50;
  border-color:#FF7F50;
}
input::placeholder{
  transition: color .3s ease;
}
input:focus::placeholder{
  color: #FF7F50;
}

button{
  margin-top: 40px;
  outline: none;
  background-color: white;
  font-size: 15px;
  color: gray;
  height: 40px;
  width: 70px;
  border-radius: 10px;
  border: 2px solid #FF7F50;
  cursor: pointer;
  transition: all .2s ease-in;
}

button:hover{
  background-color: #FF7F50;
  color: white;
  scale: 1.2;
}

input::placeholder{
  color: gray;
}

.label-animation:has(input:focus) label {
  color: #FF7F50;
}
@keyframes animate{
  0%,100%{
    clip-path: polygon(0 32%, 17% 34%, 33% 41%, 46% 49%, 62% 56%, 77% 59%, 90% 59%, 99% 53%, 100% 100%, 0 100%);
      }
  50%{
    clip-path: polygon(0 63%, 17% 64%, 33% 66%, 49% 61%, 64% 51%, 74% 43%, 86% 36%, 100% 34%, 100% 100%, 0 100%);
  }
}
